schedules:
- cron: "27 3 */1 * *"
  # 3:27am UTC everyday
  displayName: Nighthly build
  branches:
    include:
    - master
  always: true

trigger:
- master

pr:
- master

jobs:
  - template: azure/windows.yml
    parameters:
      name: windows
      vmImage: windows-2019
      matrix:
        py_3.8_32:
          PYTHON_VERSION: "3.8"
          PYTHON_ARCH: "x86"
          NP_BUILD_DEP: "1.17.3"
          NIGHTLY_BUILD: "true"
        py_3.8_64:
          PYTHON_VERSION: "3.8"
          PYTHON_ARCH: "x64"
          NP_BUILD_DEP: "1.17.3"
          NIGHTLY_BUILD: "true"
        py_3.9_32:
          PYTHON_VERSION: "3.9"
          PYTHON_ARCH: "x86"
          NP_BUILD_DEP: "1.19.3"
          NIGHTLY_BUILD: "true"
        py_3.9_64:
          PYTHON_VERSION: "3.9"
          PYTHON_ARCH: "x64"
          NP_BUILD_DEP: "1.19.3"
          NIGHTLY_BUILD: "true"
        py_3.10_64:
          PYTHON_VERSION: "3.10"
          PYTHON_ARCH: "x64"
          NP_BUILD_DEP: "1.21.3"
          NIGHTLY_BUILD: "true"

  - template: azure/posix.yml
    parameters:
      name: linux
      vmImage: ubuntu-latest
      matrix:
        py_3.8_64:
          MB_PYTHON_VERSION: "3.8"
          MB_ML_VER: "2014"
          NP_BUILD_DEP: "numpy==1.17.3"
          NIGHTLY_BUILD: "true"
        py_3.9_64:
          MB_PYTHON_VERSION: "3.9"
          MB_ML_VER: "2014"
          NP_BUILD_DEP: "numpy==1.19.3"
          NIGHTLY_BUILD: "true"
        py_3.10_64:
          MB_PYTHON_VERSION: "3.10"
          MB_ML_VER: "2014"
          NP_BUILD_DEP: "numpy==1.21.2"
          CYTHON_BUILD_DEP: "cython==0.29.24"
          DOCKER_TEST_IMAGE: "multibuild/focal_{PLAT}"
          NIGHTLY_BUILD: "true"


  - template: azure/posix.yml
    parameters:
      name: macOS
      vmImage: macOS-latest
      matrix:
        py_3.8_64:
          MB_PYTHON_VERSION: "3.8"
          NP_BUILD_DEP: "numpy==1.17.3"
          NIGHTLY_BUILD: "true"
        py_3.8_universal2:
          MB_PYTHON_VERSION: "3.8"
          NP_BUILD_DEP: "numpy==1.17.3"
          NIGHTLY_BUILD: "true"
        py_3.9_64:
          MB_PYTHON_VERSION: "3.9"
          NP_BUILD_DEP: "numpy==1.19.3"
          NIGHTLY_BUILD: "true"
        py_3.9_universal2:
          MB_PYTHON_VERSION: "3.9"
          NP_BUILD_DEP: "numpy==1.19.3"
          NIGHTLY_BUILD: "true"
        py_3.10_64:
          MB_PYTHON_VERSION: "3.10"
          PLAT: "x86_64"
          NP_BUILD_DEP: "numpy==1.21.3"
          NIGHTLY_BUILD: "true"
        py_3.10_universal2:
          MB_PYTHON_VERSION: "3.10"
          PLAT: universal2
          NP_BUILD_DEP: "numpy==1.21.3"
          NIGHTLY_BUILD: "true"
